
Homework/data/example02.json
*.csv
Homework/data/example.jpg
Homework/data/example.mat
Homework/data/example.npy
Homework/data/example.pkl
Homework/data/example.txt
Homework/data/example01.json
Homework/data/examples/example.jpg
Homework/data/examples/example.mat
Homework/data/examples/example.npy
Homework/data/examples/example.pkl
Homework/data/examples/example.txt
Homework/data/examples/example01.json
Homework/data/examples/example02.json
Homework/data/house_test.csv.gz
Homework/data/house_train.csv.gz
Enron Fraud/Datasets/enron61702insiderpay.pdf
Homework/data/haarcascade_frontalcatface.xml
Homework/data/haarcascade_frontalface_alt.xml
Homework/data/image.jpg
Homework/data/lbpcascade_frontalcatface.xml
Homework/data/lbpcascade_frontalface.xml
Homework/data/lbpcascade_frontalface_improved.xml
Homework/data/test1.jpg
Homework/data/test2.jpg
Homework/data/test3.jpg
Homework/data/test5.JPG
Homework/data/test6.jpg
Homework/data/LINUX_CPU.png
Homework/data/Linux_GPU.png
Homework/data/macGPU.png
Homework/data/macOS CPU.png
Homework/data/Step2.png
Homework/data/Step3.png
Homework/data/Step5.png
Homework/data/Step6.png
Homework/data/Windows10 CPU_GPU.png
*.jpg
Cupoy ML 100 marathon Final exam/image_data.zip
Cupoy ML 100 marathon Final exam/checkpoint.h5
Cupoy ML 100 marathon Final exam/checkpoint_0.17112.h5
Cupoy ML 100 marathon Final exam/checkpoint_0.17306.h5
Cupoy ML 100 marathon Final exam/checkpoint_0.50050.h5
Cupoy ML 100 marathon Final exam/checkpoint_Adagram_0.22605.h5
*.h5
